{% extends "base.html" %} 

{% block title %} {{ block.super }} {{ title }} {% endblock %}

{% load static %} {% block content %}
<body>
  <div class="container">
    <h1 class="header1" style="color: rgb(172, 15, 117);">{{ title }}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officia,
      eveniet voluptates laboriosam alias, repudiandae harum ducimus, corrupti
      ullam aperiam nam sapiente. Dolorum veritatis officiis atque commodi
      repellendus eius amet!
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi iste
      aspernatur accusantium beatae natus alias enim. Nam facilis beatae ullam
      asperiores vel amet. Numquam delectus maxime architecto necessitatibus
      modi voluptatum sequi commodi atque optio! Neque nihil hic nesciunt
      voluptate sit reiciendis autem laboriosam cupiditate incidunt similique
      illo assumenda exercitationem accusantium, veniam nobis molestiae commodi
      eos repellendus et amet ipsum! Maxime eligendi autem beatae quam nisi a
      expedita, nobis quaerat nemo. Sed fugiat, quaerat id illo, veritatis nulla
      nesciunt alias harum maiores similique iusto? Quidem non aliquid at, error
      commodi explicabo!
    </p>
  </div>
  {% endblock %}
</body>
